doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", type="image/x-icon", href="favicon-32x32.png")
        title Simple Price Grid Component
    body 
        h1 Hello World