doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", type="image/x-icon", href="favicon-32x32.png")
        title Simple Price Grid Component
    body 
        section 
            header
                h2 Join our community 
            blockquote 30-day, hassle-free money back guarantee 
            p Gain access to our full library of tutorials along with expert code reviews. Perfect for any developers who are serious about honing their skills.
        section
            header
                h2 Monthly Subscription
            p <span>$29</span> per month 
            p Full access for less than $1 a day
            div 
                div 
                    span Sign Up 
        section
            header 
                h2 Why Us 
                ul 
                    li Tutorials by industry experts 
                    li Peer & expert code review 
                    li Coding exercises 
                    li Access to our GitHub repos 
                    li Community forum 
                    li Flashcard decks 
                    li New videos every week